body {
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%);
  display: flex;
  justify-content: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: rgb(255, 255, 255);
}

.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

button {
  border: 0;
}

.main-button {
  border: 1px solid rgba(255, 255, 255, 0);
  width: 171px;
  height: 50px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
}
.main-button:hover {
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
}

.standard-button {
  border: 1px solid rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.standard-button:hover {
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0);
}

input {
  padding-top: 0;
  border: 0;
  background-color: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

input:focus {
  outline: none;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li:hover {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-container {
  min-width: 1197px;
}

.begin {
  height: 897px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.begin-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.begin-header-logo {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: rgb(255, 255, 255);
}
.color-logo {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.begin-header-container {
  width: 384px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.begin-header-container-search {
  margin: 0 0 0 8px;
  width: 292px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}

.img-search {
  margin: 0 0 0 10px;
  width: 20px;
  height: 20px;
  background-image: url(img/search.svg);
}

.begin-header-container-search::placeholder {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.begin-header-navigation {
  margin: 10px;
  width: 520px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.begin-body {
  display: flex;
  margin: 0 0 41px 0;
  justify-content: space-between;
}

.begin-body-container {
  height: 517px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.begin-slogan {
  width: 490px;
  height: 180px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  color: rgb(255, 255, 255);
}
.begin-body-container-button {
  display: flex;
  justify-content: space-between;
  width: 298px;
}

.begin-body-container-achievements {
  display: flex;
  justify-content: space-between;
}
.begin-achievements {
  display: flex;
  height: 75px;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
}
.begin-achievements-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
}

.begin-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
