body {
  background: linear-gradient(113.49deg, #984d38 -30.3%, #181e41 58.12%);
  display: flex;
  justify-content: center;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

/*   ------------------------СТИЛИ ЗАГОЛОВКОВ, ОБЩИХ КНОПОК, ССЫЛОК И ПР------------------------           */

p {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.5);
}

h1 {
  margin-top: 22px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  color: rgb(255, 255, 255);
}

h2 {
  /* .section-title */
  margin: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: rgb(255, 255, 255);
}

.section__description {
  margin-top: 10px;
  width: 423px;
  height: 60px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.section__container-title {
  margin-top: 200px;
  margin-bottom: 40px;
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: rgb(255, 255, 255);
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
}

.primary-button {
  border: 1px solid rgba(255, 255, 255, 0);
  width: 171px;
  height: 50px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
}

.secondary-button_width-161 {
  width: 161px;
}

.primary-button:hover {
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
}

.secondary-button {
  border: 1px solid rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.secondary-button:hover {
  border: 1px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255, 0, 0, 0);
}

input {
  padding-top: 0;
  border: 0;
  background-color: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

input:focus {
  outline: none;
}

ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

li {
  cursor: pointer;
}

li:hover {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*   ------------------------НАЧАЛО ПЕРСОНАЛЬНЫХ СТИЛЕЙ------------------------           */

.main-container {
  width: 1197px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: rgb(255, 255, 255);
}

.color-logo {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__search-container {
  width: 384px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-input {
  margin-left: 8px;
  width: 292px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
}

.search-img {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  background-image: url(img/search.svg);
}

.search-input::placeholder {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.header__navigation {
  margin: 10px;
  width: 520px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*   ------------------------HOME SELECTION------------------------           */

.home {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.home__left {
  height: 517px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.home__left__text {
  margin-top: 10px;
}

.home__buttons-group {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 298px;
}

.home__left__container {
  margin-left: 2px;
  margin-top: 38px;
  width: 487px;
  height: 75px;
  display: flex;
  justify-content: space-between;
}

.home__left__container__achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-achievements-description {
  line-height: 30px;
}

.home__right {
  width: 591px;
  height: 517px;
}

.sponsors {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*   ------------------------ABOUT US SELECTION------------------------           */

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__content {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__content__container {
  width: 588px;
  height: 423px;
}

.about-us-text {
  margin-top: 10px;
}

.about-us-button {
  margin-top: 30px;
  width: 154px;
  height: 50px;
}

/*   ------------------------COLECTION SELECTION------------------------           */

.collection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection_title {
  width: 423px;
  height: 130px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.collection_title_text {
  margin-top: 10px;
}

.collection__filters-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.filter-button:active {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
}

.section__container-card {
  position: relative;
  margin-top: 30px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.indent-card {
  width: 100%;
  height: 15px;
}

.card {
  padding: 26px;
  width: 337px;
  height: 543px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background: rgba(255, 255, 255, 0.5);
}

.card__description {
  margin: 20px 0 23px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-author {
  line-height: 30px;
}

.card-name {
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.card__description__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-price {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.card-bid {
  font-size: 15px;
  line-height: 22px;
}

.card-button {
  width: 337px;
  height: 50px;
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  border-radius: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: rgb(255, 255, 255);
}

.card-button:hover {
  background: linear-gradient(214.02deg, #b75cff 6.04%, #671ae4 92.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid rgba(103, 26, 228, 1);
  border-radius: 10px;
}
